.devicon-npm-original-wordmark,
.devicon-heroku-original, .devicon-chrome-plain,
.devicon-html5-plain, .devicon-git-plain,
.devicon-mongodb-plain, .devicon-visualstudio-plain,
.devicon-github-plain, .devicon-trello-plain,
.devicon-postgresql-plain, .devicon-slack-plain,
.devicon-css3-plain {
  color: rgb(9, 195, 246);
  font-size: 25px;
}

.devicon-sass-original, .devicon-react-original, .devicon-javascript-plain, 
.devicon-python-plain, .devicon-django-plain,
.devicon-typescript-plain, .devicon-nodejs-plain {
  color: black;
  font-size: 45px;
}