.container {
  display: flex;
  justify-content: flex-end;
}

div.bg {
  align-items: flex-end;
  position: absolute;
  border-radius: 180px;
  // top: 0;
  // left: 0;
  width: 15vw;
  height: 18vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}
