#tech {
  background-color: black;

  .projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .link-icon, .GH-icon {
    color: white;
  }

  .hook-text {
    color: #41b4d3;
  }

  .contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
  }
}


