#tech {
  background-color: black;

  .projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  div.tech-logo {
    flex-grow: 1;
  }

  .link-icon, .GH-icon {
    color: white;
  }

  .hook-text {
    color: #41b4d3;
  }

  #tech > div.projects > div:nth-child(3) > div.MuiCardActions-root > button > span.MuiIconButton-label > svg {
    color: white;
  }

  .contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1450px) {
  .mobile-hidden {
    display: none;
  }
}
