.tech {
  background-color: black;
  color: #41b4d3;

  .column {
    margin: 0 2vw;
  }

  .description {
    border: 1px solid red;
  }

  .tech-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    svg {
      margin: 20px 22px;
    }
  }

  .projects {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
      roboto, noto, segoe ui, arial, sans-serif;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }

  .container-cards {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    // background: #040404;
  }

  .card-one, .card-two,
  .card-three, .card-four {
    align-items: center;
    margin-top: 50px;
    width: 40ch;
    height: 25ch;
    background: rgb(9, 195, 246);
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 2px solid #41b4d3;
  }

  .card-one {
    background-image: url(https://i.imgur.com/igBoS9J.png);
  }
  .card-two {
    background-image: url(https://i.imgur.com/5vMcxJy.png);
  }
  .card-three {
    background-image: url(https://i.imgur.com/HtW4uzn.png);
  }
  .card-four {
    background-image: url(https://i.imgur.com/74PLm0e.png);
  }

  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }
  .icon-label {
    width: 100%;
    border: 1px solid white;
    border-radius: 1em;
    text-align: center;
    margin-top: 5px;
  }

  h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 40px;
    font-size: 25px;
    color: white;
  }

  .tech-name {
    color: white;
  } 

  .hook-text {
    color: #41b4d3;
  }

  p {
    color: white;
  }
}
