@import '../../node_modules/bulma/bulma.sass';

$font-family: 'Nunito', serif;

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 1366px) {
  .alive-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-logo-mid {
    display: none;
  }
}

@import './navbar';
@import './icons';
@import './about';
@import './tech';
@import './alive';
@import './projects';